<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
	<title>{% block head_title %}GridControl{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/fontawesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/less" href="/static/css/main.less">
	<script src="/static/vendor/modernizr-latest.js" type="text/javascript"></script>
	<script src="/static/vendor/underscore-min.js" type="text/javascript"></script>
	<script src="/static/vendor/underscore.string.min.js" type="text/javascript"></script>
	<script src="/static/vendor/jquery-1.8.2.min.js" type="text/javascript"></script>
	<script src="/static/vendor/socket.io.js" type="text/javascript"></script>
	<script src="/static/vendor/less-1.3.0.min.js" type="text/javascript"></script>
	<script src="/static/js/main.js" type="text/javascript"></script>
	<script src="/static/js/comm.js" type="text/javascript"></script>
	{% block extra_css %}{% endblock %}
	{% block extra_js %}{% endblock %}
	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body class="{% block body_class %}{% endblock body_class %}">
	<div id="overlord">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
