@import "utils.less";

@HEADER_TYPE: sans-serif;
@COPY_TYPE: serif;

@GUTTER: 20px;

@STATIC: "static/images";

html, body {
	font-family: @COPY_TYPE;
	font-style: normal;
	-webkit-font-smoothing: subpixel-antialiased;
}

* {
	margin: 0px;
	padding: 0px;
	.box-sizing(border-box);
}

#overlord {
	padding: @GUTTER;
}

#control_panel {
	position: absolute;
	top: @GUTTER;
	right: @GUTTER;
	padding: 10px;
	background-color: #eee;
	border: 1px solid #ccc;
	p {
		margin: 0px;
	}
}

#grid_screen {
	@GRID_WIDTH: 20px;
	@GRID_HEIGHT: 20px;
	@GRID_COLS: 16;
	@GRID_ROWS: 16;
	float: left;
	position: relative;
	width: @GRID_WIDTH * @GRID_COLS;
	height: @GRID_HEIGHT * @GRID_ROWS;
	.grid-break {
		float: left;
		clear: left;
	}
	.grid {
		float: left;
		height: @GRID_WIDTH;
		width: @GRID_WIDTH;
		line-height: @GRID_HEIGHT;
		text-align: center;
		font-weight: bold;
	}
	.grid-resource {
		background-color: yellow;
	}
	.grid-ground {
		background-color: green;
	}
	.grid-user {
		cursor: pointer;
		position: absolute;
		background-color: white;
		span {
			display: none;
			position: absolute;
			left: @GRID_WIDTH;
			top: 0px;
			background-color: white;
		}
	}
	.grid-user:hover {
		span {
			display: block;
		}
	}
}

#grid_history {
	float: left;
	width: 200px;
	padding: @GUTTER;
	border: 1px dotted #ccc;
	position: relative;
	margin-left: @GUTTER;
	ul {
		list-style-type: none;
		margin-left: 0px;
		li {
			span {
				float: right;
			}
		}
	}
}

#grid_scores {
	ul {
		list-style-type: none;
		margin-left: 0px;
		li {
			span {
				float: right;
			}
		}
	}
}

.gist_list {
	@BORDER_COLOR: #ddd;
	margin: 20px;
	list-style-type: none;
	border-top: 1px solid @BORDER_COLOR;
	border-left: 1px solid @BORDER_COLOR;
	border-right: 1px solid @BORDER_COLOR;

	.gist_item {
		padding: 10px;
		position: relative;
		border-bottom: 1px solid @BORDER_COLOR;
	}
	.gist_itema {
	}
	.gist_itemb {
		background-color: #f2f2f2;
	}
	.gist_actions {
		position: absolute;
		top: 10px;
		right: 10px;
		margin-left: 0px;
		list-style-type: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

#grid_panic {
	display: none;
	position: relative;
	border: 1px solid #ccc;
	background-color: #fee;
	padding: @GUTTER;
	h1 {
		margin: 0px;
	}
	.hide_panic {
		cursor: pointer;
		position: absolute;
		top: @GUTTER;
		right: @GUTTER;
	}
}

hr{
	clear: both;
	margin-top: @GUTTER;
}
