{% extends "account/base.html" %}
{% block sub_content %}
	<div>
		<h2>How to program your bot</h2>
		<p>Select a gist that contains a .gridlang file<p>
	</div>
	<div>
		<ul class="gist_list">
			{% for gist in gists %}
			<li class="gist_item {% cycle "gist_itema" "gist_itemb" %}">
				{% if gist.description %}
					{{ gist.description|truncatechars:64 }}
				{% else %}
					--NO DESCRIPTION--
				{% endif %}
				<ul class="gist_actions">
					<li>
						<a href="{% url use_gist gist_id=gist.id %}">
							<i class="icon-download"></i>Use
						</a>
					</li>
					<li>
						<a href="{% url gist_viewer gist_id=gist.id %}">
							<i class="icon-eye-open"></i>View
						</a>
					</li>
				</ul>
			</li>
			{% empty %}
				<li class="gist_item">No gists!</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
